$admin-menu-bkg: #1e2e3d;
.admin-menu {
  width: 140px;
  padding: 40px 0;
  background: $admin-menu-bkg;

  &:after {
    width: 140px;
  }

  .logo-menu {
    width: 90px;
    margin: 0 0 40px;
  }

  .menu-items {
    height: calc(100% - 40px);
    overflow-x: hidden;
  }

  &.menu-mobile {
    width: 140px;
  }

  &.main-menu {
    .item {
      color: $white;
      width: auto;
      font-size: 14px;
      font-weight: 500;
      padding: 13px 20px;
      min-height: 0;
      text-transform: uppercase;

      &.active,
      &:hover {
        background: none;
      }
    }
  }
}

.menu-icon.close {
  top: 15px;
  left: 140px;
  position: fixed;
}

.top-menu {
  @include media-min($lg) {
    margin: 0 0 10px;
  }
}

//
// Action Bar Component
//
.action-bar {
  background: #f2f2f2;
  padding: 15px;
  text-align: right;
  margin: 0 0 30px;

  .btn {
    margin-left: 20px;
  }
}

.logo-img {
  width: 130px;
  height: 40px;
}
